* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background-color: #191E29;
}

@mixin displayflex($justify: center) {
    justify-content: $justify;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#alto {
    height: 85px;
}

#centro {
    @include displayflex;
    height: 100vh;

    #blockchain {
        margin: 25px 0 0 0;

        display: flex;
        flex-direction: row;

        .chain {

        }

        .block {
            height: 110px;
            width: 95px;
            border: 2px solid white;
            text-align: center;
            font-family: TTcR;

            .top {
                height: 25px;
                border-bottom: 1px solid white;
                color: white;
            }
            .mid {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 60px;
                border-top: 1px solid white;
                color: white;
            }
            .bot {
                height: 25px;
                border-top: 1px solid white;
                color: white;
            }
        }

        .pointer {
            width: 50px;
            height: 85px;

            img {
                position: relative;
                top: 30px;
                color: white;
                transform: scale(1.7)
            }
        }
    }

    .title {
        font-size: 8vw;
        color: white;
        font-family: TTcDB;
    }
    .subtitle {
        margin-top: 35px;

        text-align: center;
        font-size: 2vw;
        color: white;
        font-family: TTcR;
    }
    .action {
        margin: 45px 0 0 0;
        
        font-family: TTcDB;

        button {
            font-size: 22px;
            text-decoration: none;
            background-color: transparent;
            border-radius: 6px;
            border: 2px solid white;
            color: white;
            height: 50px;
            width: 110px;
            transition: 0.2s;
            z-index: 99;
        }
        button:hover {
            background-color: white;
            color: #069e77;
            cursor: pointer;
        }
    }
}

#information {
    height: 1000px;
    padding-top: 100px;
    @include displayflex(start);

    .title {
        color: white;
        font-family: TTcDB;
    }
}